html,
body {
  background-color: black;
}

html,
body,
.container {
  height: 100%;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}
